:root {
    --size: 15px;
    --black-color: #1E1E1EEE;
    --bg-color: #FCFCFC;
}

@font-face {
    font-family: "M-L";
    src: url(../fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: "M-R";
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "M-M";
    src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: "M-SB";
    src: url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: "M-BO";
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "M-EB";
    src: url(../fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: "M-B";
    src: url(../fonts/Montserrat-Black.ttf);
}

* {
    outline: none !important;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none !important;
    color: var(--black-color);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "M-R";
    font-size: var(--size);
    color: var(--black-color);
    background-color: var(--bg-color);
    position: relative;
}

/* logo sizing */

.logo img {
    height: 78px;
    width: auto;
}

.footerLogo__ img {
    max-height: 60px;
    width: auto;
}

/* scroll to top start */

.scrollTop {
    width: 45px;
    height: 45px;
    background-color: #0080ff;
    border-radius: 8px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    cursor: pointer;

    position: fixed;
    bottom: 35px;
    right: 35px;
    z-index: 100;
}

.scrollTop>* {
    fill: var(--bg-color);
    transform: translateY(0px);
    font-size: 25px;
    font-family: "M-B";
    animation: scrollTop 1.3s ease-in-out infinite alternate;
}

@keyframes scrollTop {
    0% {
        transform: translateY(4px);
    }

    50% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(4px);
    }
}

/* scroll to top end */

section {
    padding: 40px 0;
}

input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
}

/* header start */

header {
    padding: 40px 0;
}

section:has(.banner) {
    padding-top: 0;
}

header nav {
    background-color: #F3F3F3;
    border-radius: 10px;
    padding: 13.75px 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
    gap: 20px;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex: 1;
    position: relative;
    gap: 0;
}

.searchBar {
    padding: 0 15px 0 30px;
    position: relative;
    cursor: pointer;
}

.searchBar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    width: 1px;
    height: 100%;
    background-color: #DADADA;
}

.loginButton {
    padding: 0 0 0 20px;
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.loginButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    width: 1px;
    height: 100%;
    background-color: #DADADA;
}

.loginButton .button {
    padding: 12px 30px;
    font-size: var(--size);
    white-space: nowrap;
    margin: 0;
}

header nav ul li {
    position: relative;
    transition: 0.4s all;
}

header nav ul li::before {
    content: "";
    position: absolute;
    bottom: -85%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: #0080ff;
    border-radius: 100px;
    transform: translateX(-50%) scale(0);
    transition: 0.4s all;
}

header nav ul li:hover::before {
    transform: translateX(-50%) scale(1);
}

header nav ul li a {
    font-size: var(--size);
    padding: 0 25px;
    color: var(--black-color);
    line-height: 1;
    transition: 0.4s all;
    white-space: nowrap;
    font-weight: 500;
}

header nav ul li a:hover {
    text-decoration: none;
    color: var(--black-color);
}

.button {
    background-color: #0080ff;
    border-radius: 10px;
    padding: 16px 50px;
    text-align: center;
    line-height: 1;
    font-size: var(--size);
    border: 1px solid transparent;
    color: #FFFFFF;
    text-decoration: none;
}

.button:hover {
    border: 1px solid #0080ff;
    background-color: transparent;
    color: #0080ff;
}

header a.button {
    display: block;
}

.hideLink {
    display: none;
    transition: 0.4s all;
}

.searchBarInput>input {
    width: 100%;
    border: 1px solid transparent;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.searchBarInput {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    width: 0%;
    transition: 0.4s all;
}

header nav ul:has(.searchBarInput.showField) {
    height: 24px;
}

.searchBarInput.showField {
    width: 100%;
    padding: 0 15px;
    background-color: #F3F3F3;
}

.searchBarInput::before {
    display: none;
}

/* header end */

/* banner start */

.banner {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-position: top 0px left 0px;
    position: relative;
    border-radius: 10px;
    padding: 130px 50px;
    z-index: 1;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #0E113799;
    z-index: -1;
    border-radius: 10px;
    background-size: cover;
}

.bannerHeading__ {
    margin-bottom: 20px;
}

.bannerHeading__>* {
    font-family: "M-BO";
    color: var(--bg-color);
    font-size: 48px;
    line-height: 58.51px;
    margin-bottom: 0;
}

.bannerPara__ {
    margin-bottom: 50px;
}

.bannerPara__>* {
    font-size: var(--size);
    line-height: 18.29px;
    color: var(--bg-color);
    margin-bottom: 0;
}

.bannerBtn__>* {
    display: inline-block;
}

/* banner end */

/* cards start */

.cardSectionList__ {
    padding: 0 18px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.cardSectionList__Item__ {
    width: calc(100% / 4 - 10px);
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #D7D7D7;
    min-height: 230px;
    max-height: 230px;
    position: relative;
}

.cardSectionList__Item__::before {
    content: "";
    position: absolute;
    bottom: -16px;
    font-family: "M-SB";
    right: 5px;
    font-size: 65px;
    line-height: 79.24px;
    color: var(--bg-color);
    opacity: 0.3;
}

.cardSectionList__Item__:nth-child(1):hover::before {
    content: "01";
}

.cardSectionList__Item__:nth-child(2):hover::before {
    content: "02";
}

.cardSectionList__Item__:nth-child(3):hover::before {
    content: "03";
}

.cardSectionList__Item__:nth-child(4):hover::before {
    content: "04";
}

.cardSectionList__Item__:hover {
    background: linear-gradient(303.78deg, #3232ff 0%, #4c4cff 100%);
    border: 1px solid transparent;
}

.cardSectionList__Item__Icon {
    margin-bottom: 25px;
}

.cardSectionList__Item__Icon * {
    fill: var(--black-color);
}

.cardSectionList__Item__:hover>.cardSectionList__Item__Icon * {
    fill: var(--bg-color);
}

.cardSectionList__Item__Heading {
    margin-bottom: 8px;
}

.cardSectionList__Item__Heading>* {
    font-size: 18px;
    line-height: 21.94px;
    color: var(--black-color);
    font-family: "M-SB";
    margin-bottom: 0;
}

.cardSectionList__Item__:hover>.cardSectionList__Item__Heading>* {
    color: var(--bg-color);
}

.cardSectionList__Item__Para>* {
    font-size: var(--size);
    line-height: 18.29px;
    color: var(--black-color);
    margin-bottom: 0;

    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.cardSectionList__Item__:hover>.cardSectionList__Item__Para>* {
    color: var(--bg-color);
}

/* cards end */

/* one section start */

.gemeinsam_sec__ {
    background-color: #F8F8F8;
    border-radius: 10px;
    padding: 114px 50px 113px;
    min-height: 630px;
    max-height: 630px;
}

.gemeinsam_sec__UpperText {
    margin-bottom: 5px;
}

.gemeinsam_sec__UpperText>* {
    font-size: var(--size);
    line-height: 18.29px;
    color: #0E1137;
    margin-bottom: 0;
}

.gemeinsam_sec__Heading {
    margin-bottom: 15px;
}

.gemeinsam_sec__Heading>* {
    margin-bottom: 0;
    font-family: "M-EB";
    font-size: 45px;
    line-height: 54.86px;
    color: #0E1137;
}

.gemeinsam_sec__ColorText {
    margin-bottom: 10px;
}

.gemeinsam_sec__ColorText>* {
    font-size: 16px;
    line-height: 19.5px;
    font-family: "M-M";
    color: #0080ff;
    margin-bottom: 0;
}

.gemeinsam_sec__Para {
    margin-bottom: 50px;
}

.gemeinsam_sec__Para>* {
    font-size: var(--size);
    color: var(--black-color);
    line-height: 18.29px;
    margin-bottom: 0;
}

.gemeinsam_sec__Btn>* {
    display: inline-block;
}

/* one section end */

/* finden start */

.secContent__ {
    margin-bottom: 45px;
    text-align: center;
}

.secContent__UpperText {
    margin-bottom: 5px;
}

.secContent__UpperText>* {
    font-size: var(--size);
    line-height: 18.29px;
    color: #0E1137;
    margin-bottom: 0;
}

.secContent__Heading {
    margin-bottom: 15px;
}

.secContent__Heading>* {
    font-family: "M-EB";
    font-size: 45px;
    line-height: 54.86px;
    text-align: center;
    color: #0E1137;
    margin-bottom: 0;
}

.secContent__Para>* {
    margin-bottom: 0;
    font-size: var(--size);
    line-height: 18.29px;
    color: var(--black-color);
}

.cardSectionList__Item__D {
    position: relative;
    padding: 41px 30px;
    z-index: 1;
    border-radius: 10px;
    background-repeat: no-repeat !important;
    background-position: top 0px left 0px !important;
    background-size: cover !important;
    border: 1px solid #0E1137CC !important;
}

.cardSectionList__Item__D::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: #0E1137CC;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.cardSectionList__Item__D:hover {
    background-color: transparent;
}

.cardSectionList__Item__D>.cardSectionList__Item__Heading>* {
    color: var(--bg-color);
}

.cardSectionList__Item__D>.cardSectionList__Item__Para>* {
    color: var(--bg-color);
}

.cardSectionList__Item__D:nth-child(1) {
    background-image: url(../images/festzinsanlagen.jpg);
}

.cardSectionList__Item__D:nth-child(2) {
    background-image: url(../img/cards/kündigungsgeld.jpg);
}

.cardSectionList__Item__D:nth-child(3) {
    background-image: url(../images/fonds.jpg);
}

.cardSectionList__Item__D:nth-child(4) {
    background-image: url(../images/aktien.jpg);
}

.cardSectionList__Item__D:nth-child(1)::before {
    content: "01";
}

.cardSectionList__Item__D:nth-child(2)::before {
    content: "02";
}

.cardSectionList__Item__D:nth-child(3)::before {
    content: "03";
}

.cardSectionList__Item__D:nth-child(4)::before {
    content: "04";
}

/* finden end */

/* die vorteile start */

.bgColor__ {
    background-color: #0E1137;
    position: relative;
    padding: 70px 0;
    margin-bottom: 75px;
    margin-top: 30px;
}

.bgColor__::after {
    content: "";
    position: absolute;
    top: 70px;
    right: 0;
    width: 604px;
    height: calc(100% - 25px);
    background-image: url(../images/section_two.jpg);
    background-repeat: no-repeat;
    background-position: bottom 0px center;
    background-size: cover;
    border-radius: 10px;
}

.bgColor__::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(303.78deg, #0080ff 0%, #0080ff 100%);
    width: 10px;
    height: 100%;
}

/* .dieSec__img {
    
} */

.dieSec__UpperText {
    margin-bottom: 5px;
}

.dieSec__UpperText>* {
    font-size: var(--size);
    line-height: 18.29px;
    color: var(--bg-color);
    margin-bottom: 0;
}

.dieSec__Heading {
    margin-bottom: 15px;
}

.dieSec__Heading>* {
    font-size: 45px;
    line-height: 54.86px;
    font-family: "M-EB";
    color: var(--bg-color);
    margin-bottom: 0;
}

.dieSec__Para>* {
    font-size: var(--size);
    line-height: 18.29px;
    color: var(--bg-color);
    margin-bottom: 25px;
}

.dieSec__BulletList {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 1.6em;
    margin: 0 0 25px;
}

.dieSec__BulletList li {
    margin-bottom: 15px;
}

.increaseWidth {
    max-width: 53% !important;
    flex: 0 0 53% !important;
}



/* die vorteile end */

/* ipos slider start */

.iposCards__ {
    box-shadow: 0px 3px 6px 0px #00000029;
    background-color: #FAFAFA;
    min-height: 464px;
    border-radius: 10px;
    max-height: 750px;
    padding-bottom: 25px;

    display: flex;
    flex-flow: row wrap;
}

.iposCards__Img>* {
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.iposCards__bug {
    padding: 0px 20px;
    display: flex;
    flex-flow: row wrap;
    margin-top: -13.5px;
    margin-bottom: 25px;
}

.iposCards__bug>* {
    padding: 6px 15px;
    background-color: #0080ff;
    border-radius: 6px;
    color: #FAFAFA;
    font-size: 13px;
    line-height: 15.85px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.iposCards__bug>*>.svg {
    margin-right: 10px;
}

.iposCards__Heading {
    padding: 0 20px;
    margin-bottom: 15px;
    width: 100%;
}

.iposCards__Heading>* {
    font-size: var(--size);
    line-height: 18.29px;
    color: var(--black-color);
    font-family: "M-BO";
    margin-bottom: 0;
}

.iposCards__Para {
    padding: 0 20px;
    margin-bottom: 25px;
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.iposCards__Para>* {
    font-size: var(--size);
    color: var(--black-color);
    line-height: 18.29px;
}

.iposCards__Btn {
    padding: 0 20px;
}

.iposCards__Btn>* {
    display: inline-block;
    cursor: pointer;
    color: #3F75E1;
    font-size: var(--size);
    line-height: 18.29px;
}

.iposCards__Btn>*>.svg {
    margin-left: 10px;
}

.swiper.mySwiper {
    padding: 0px 10px 70px;
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background-color: #D9D9D9;
    border-radius: 0 !important;
    opacity: 1;
    margin: 0 10px !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #0080ff;
    border-radius: 100px !important;
}

.freeQuoteSec__ {
    background-color: #F8F8F8;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 18px 50px 16px;
}

.freeQuoteSec__Img__ {
    width: 47%;
}

.freeQuoteSec__Content__ {
    width: 50%;
}

.freeQuoteSec__Content__UpperText {
    margin-bottom: 5px;
}

.freeQuoteSec__Content__UpperText>* {
    font-size: var(--size);
    line-height: 18.29px;
    color: #0E1137;
    margin-bottom: 0;
}

.freeQuoteSec__Content__Heading {
    margin-bottom: 15px;
}

.freeQuoteSec__Content__Heading>* {
    font-size: 45px;
    line-height: 54.86px;
    font-family: "M-EB";
    color: #0E1137;
    margin-bottom: 0;
}


.freeQuoteSec__Content__List>ul>li {
    list-style-image: url(../images/list_icon.svg);
    margin: 10px 0;
    font-size: var(--size);
    line-height: 18.29px;
    color: var(--black-color);
}

.freeQuoteSec__Content__List>ul {
    padding-left: 20px;
}

/* ipos slider end */

/* landerm start */

.bg_color__ {
    background-color: #0080ff;
    border-radius: 10px;
    padding: 70px 0;
}

.bg_color__ {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.bg_color__>.bg_color__Item {
    /* width: calc(100% / 4); */
    margin: 0 56px;
}

.bg_color__Item_Content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 10px;
}

.bg_color__Item_Content_Text {
    position: relative;
}

.bg_color__Item_Content_Text::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0px;
    width: 32px;
    height: 2px;
    background: linear-gradient(270deg, #FFFFFF 0%, rgba(240, 240, 240, 0.4) 100%);
}

.bg_color__Item_Content_Text>* {
    font-size: 30px;
    line-height: 36.57px;
    font-family: "M-EB";
    color: #FFFFFF;
    margin-bottom: 0;
}

.bg_color__Item_Content_Text>* * {
    font-family: "M-EB";
}

.bg_color__Item_Content_Icon {
    margin-right: 15px;
}

.bg_color__Item_Heading>* {
    font-size: 18px;
    font-family: "M-M";
    line-height: 21.94px;
    color: #FFFFFF;
    margin-bottom: 0;
}

/* landerm end */

/* review slider start */

.reviewCard__ {
    padding: 30px 25px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0px 3px 6px 0px #00000029;
    position: relative;
    min-height: 252px;
    max-height: 750px;
}

.reviewCard__::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 45px;
    height: 45px;
    border-radius: 0 10px 0 100%;
    background-color: #0080ff;
}

.reviewCard__Content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 15px;
}

.reviewCard__Content_img {
    border: 2px solid #0080ff;
    margin-right: 15px;
    padding: 3px 4px;
    border-radius: 10px;
}

.reviewCard__Content_img>* {
    border-radius: 8px;
    width: 60px;
    height: 60px;
}

.reviewCard__Content_Detail_Name>* {
    font-size: 17px;
    line-height: 21.94px;
    font-family: "M-BO";
    margin-bottom: 0;
    color: #000000;
}

.reviewCard__Content_Detail_Date>* {
    font-size: var(--size);
    line-height: 18.29px;
    color: #000000;
}

.reviewCard__Content_Detail_Star {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 5px;
}

.reviewCard__Content_Detail_Star>* {
    margin: 0 2px;
}

.reviewCard__Para>* {
    font-size: var(--size);
    line-height: 18.29px;
    color: #000000;
    margin-bottom: 0;

    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.reviewCard__Para>*>span {
    font-family: "M-BO";
}

.swiper.reviewSlider {
    padding: 0px 10px 70px;
}

/* review slider end */

/* haben start */

.habenSec__ {
    padding: 58px 110px;
    background-image: url(../images/cnt_sec.jpg);
    background-repeat: no-repeat;
    background-position: top -38px left 0;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    text-align: center;
    background-size: cover;
}

.habenSec__::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: #0E1137CC;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    z-index: -1;
}

.habenSec__UpperText {
    margin-bottom: 5px;
}

.habenSec__UpperText>* {
    font-size: var(--size);
    line-height: 18.29px;
    color: var(--bg-color);
    margin-bottom: 0;
}

.habenSec__Heading {
    margin-bottom: 15px;
}

.habenSec__Heading>* {
    font-size: 45px;
    line-height: 54.86px;
    color: var(--bg-color);
    margin-bottom: 0;
    font-family: "M-EB";
}

.habenSec__Para {
    margin-bottom: 40px;
}

.habenSec__Para>* {
    font-size: var(--size);
    line-height: 18.29px;
    color: var(--bg-color);
    margin-bottom: 0;
}

.habenSec__Btn>* {
    display: inline-block;
}

/* haben end */

/* footer start */

footer {
    margin-top: 50px;
}

.footer {
    background-color: #0E1137;
    border-radius: 10px;
    margin-bottom: 70px;
    padding: 60px 50px 0;
}

.footerLogo__ {
    margin-bottom: 30px;
}

.footerPara__>* {
    font-size: var(--size);
    line-height: 18.29px;
    color: var(--bg-color);
    margin-bottom: 0;
    width: 90%;
}

.footerLinks__Heading {
    margin-bottom: 25px;
}

.footerLinks__Heading>* {
    font-size: 20px;
    line-height: 24.38px;
    font-family: "M-BO";
    margin-bottom: 0;
    color: var(--bg-color);
}

.footerLinks__List__Item {
    margin-bottom: 16px;
}

.footerLinks__List__Item_Heading {
    margin-bottom: 25px;
    width: 100%;
}

.footerLinks__List__Item_Heading>* {
    margin-bottom: 0;
    font-size: var(--size);
    line-height: 18.29px;
    color: var(--bg-color);
    font-family: "M-BO";
}

.footerLinks__List__Item>* {
    color: var(--bg-color);
    font-size: var(--size);
    line-height: 18.29px;
    display: inline-block;
}

.footerLinks__List__Item>*>* {
    margin-right: 10px;
}

.footerLinks__List__Item>*:hover {
    color: var(--bg-color);
}

.footerText__Content>.footerPara__ {
    margin-bottom: 40px;
}

.footerText__Input {
    margin-bottom: 45px;
}

.footerText__Input>* {
    border: 1px solid var(--bg-color);
    background-color: transparent;
    border-radius: 10px;
    padding: 16px 15px;
    width: 100%;
    font-size: var(--size);
    line-height: 18.29px;
    color: var(--bg-color);
    background-image: url(../images/send.svg);
    background-repeat: no-repeat;
    background-position: top 50% right 15px;
    padding-right: 45px;
}

.footerText__Input>*::placeholder {
    color: var(--bg-color);
    font-size: var(--size);
    line-height: 18.29px;
}

.footerLink__Item__>* {
    color: var(--bg-color);
    font-size: var(--size);
    line-height: 18.29px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.footerLink__Item__>*:hover {
    color: var(--bg-color);
}

.footerLink__Item__>*>*:nth-child(1) {
    width: 28px;
    margin-right: 20px;
}

.footerLink__Item__Content>* {
    margin-bottom: 0;
}

.footerLink__Item__Content>p {
    font-size: var(--size);
    font-family: "M-BO";
    line-height: 18.29px;
}

.footerLink__Item__Content>span {
    font-size: 13px;
}

.footerLink__Item__Content {
    width: calc(100% - 28px - 20px);
}

/* footer end */

/* header dropdown start */

.drop {
    position: relative;
}

.navLink.drop::before {
    right: 0px;
    left: unset;
    top: 50%;
    transform: translate(0%, -50%) scale(0);
    bottom: unset;
}

.navLink.drop:hover::before {
    transform: translate(0%, -50%) scale(1);
}

.navLink>.down {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 200%;
    left: 0px;
    width: 250px;
    min-height: 175px;
    max-height: 175px;
    transition: 0.4s all;
    background-color: var(--bg-color);
    border-radius: 10px;
    box-shadow: 0px 3px 6px 0px #00000029;
    padding: 25px 20px;
    z-index: -1;
}

.navLink.drop:hover>.down {
    visibility: visible;
    opacity: 1;
    top: 100%;
    transition: 0.4s all;
    z-index: 10;
}

.navLink>.down>ul {
    width: 100%;
    display: block;
}

.navLink>.down>ul>li>a {
    padding: 8px 15px;
    border-radius: 10px;
    display: block;
}

.navLink>.down>ul>li::before {
    left: -8px;
    top: 50%;
    transform: translate(0%, -50%) scale(0);
}

.navLink>.down>ul>li:hover::before {
    transform: translate(0%, -50%) scale(1);
}

/* header dropdown end */

/* section Range start */

.investmentRange__ {
    background-color: #0E1137;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    padding: 45px 55px;
}

.investmentRange__>* {
    width: calc(100% / 2);
    padding: 0 15px;
}

.investmentRange__Content__ {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.investmentRange__Content__>* {
    width: calc(100% / 2 - 7.5px);
}

.investmentRange__Content__>*:nth-child(1) {
    width: calc(100% / 1);
    margin-bottom: 25px;
}

.investmentRange__Total__ {
    display: flex;
    flex-flow: row wrap;
}

.investmentRange__Total__>*:nth-child(1) {
    width: 100%;
}

.investmentRange__Total__>*:nth-child(1)>* {
    font-size: 40px;
    line-height: 54px;
}

.investmentRange__Total__>*:nth-child(2) {
    width: 100%;
    margin-bottom: 35px;
    margin-top: 8px;
}

.investmentRange__Total__Heading>* {
    font-family: "M-BO";
    font-size: 26px;
    line-height: 1.5;
    margin-bottom: 0;
    color: var(--bg-color);
}

.range_slider.invest_select_main {
    position: relative;
}

.range_slider.invest_select_main>svg {
    position: absolute;
    right: 15px;
    top: 50%;
    fill: var(--bg-color);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
}

.range_slider.invest_select_main>select {
    background-color: transparent;
    padding: 12px 15px;
    border-radius: 8px;
    color: var(--bg-color);
    border: 1px solid var(--bg-color);
    font-size: var(--size);
    line-height: 1.3;
}

.range_slider.invest_select_main>select>* {
    color: var(--black-color);
}

.investmentRange__Content__Item_Label {
    margin-bottom: 4px;
}

.investmentRange__Content__Item_Label>* {
    font-size: var(--size);
    line-height: 1;
    color: var(--bg-color);
}

.range_slider_item>* {
    color: var(--bg-color);
}

.counter_footer {
    margin-top: 15px;
}

.counter_footer>* {
    color: var(--bg-color);
}

/* section Range end */

/* floating call start */

.floatingCall__ {
    position: fixed;
    bottom: 125px;
    right: -246px;
    z-index: 100;
    background-color: #0080ff;
    width: 343px;
    border-radius: 100px 0 0 100px;
    padding: 15px 20px;
}

.floatingCall__Content__Heading {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.floatingCall__Content__Heading>* {
    font-size: 13px;
    line-height: 15.85px;
    color: #0E1137;
    margin-bottom: 0;
}

.floatingCall__Content__Heading>*>span {
    font-size: var(--size);
    line-height: 18.29px;
    font-family: "M-BO";
    width: 100%;
    display: block;
}

.floatingCall__ {
    text-decoration: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.floatingCall__Icon {
    width: 60px;
    height: 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    background-color: #0080ff;
    border-radius: 100px;
    margin-right: 15px;
}

/* floating call end */

/* about us start */

.aboutUsBanner {
    background-image: url(../images/about_banner.jpg);
    padding: 146px 50px;
    background-position: center;
}

.contactUsBanner {
    background-image: url(../images/contact_banner.jpg);
    padding: 146px 50px;
    background-position: center;
}

.fest_Banner {
    background-image: url(../images/fest_banner.jpg);
    padding: 146px 50px;
    background-position: center;
}

.kund_Banner {
    background-image: url(../images/kund_banner.jpg);
    padding: 146px 50px;
    background-position: top 30% center;
}

.fond_Banner {
    background-image: url(../images/fond_banner.jpg);
    padding: 146px 50px;
    background-position: center;
}

.aktien_Banner {
    background-image: url(../images/aktien_1.jpg);
    padding: 146px 50px;
    background-size: cover;
}

.een_Banner {
    background-image: url(../images/einlagensicherung.png);
    padding: 146px 50px;
    background-size: cover;
}

.impressum_Banner {
    background-image: url(../images/impressum-banner.jpg);
    padding: 146px 50px;
    background-size: cover;
    background-position: top center;
}

.daten_Banner {
    background-image: url(../images/daten-banner.jpg);
    padding: 146px 50px;
    background-size: cover;
    background-position: top center;
}

.agb_Banner {
    background-image: url(../images/agb-banner.jpg);
    padding: 146px 50px;
    background-size: cover;
    background-position: top center;
}


.artikel1_Banner {
    background-image: url(../images/festgeld1.jpg);
    padding: 146px 50px;
    background-size: cover;
    background-position: top center;
}

.artikel2_Banner {
    background-image: url(../images/festgeld2.jpg);
    padding: 146px 50px;
    background-size: cover;
    background-position: top center;
}
.artikel3_Banner {
    background-image: url(../images/etf1.jpg);
    padding: 146px 50px;
    background-size: cover;
    background-position: top center;
}

.aboutBgColor__::after {
    background-image: url(../images/about_section_two.jpg);
}

.profitierenSec__ {
    padding: 85px calc(70px - 15px);
}

.profitierenSec__Heading {
    margin-bottom: 40px;
}

.dieSec__List__ {
    margin-top: 35px;
}

.dieSec__List__Item {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 25px;
}

.dieSec__List__Item:nth-last-child(1) {
    margin-bottom: 0;
}

.dieSec__List__Item_Icon {
    margin-right: 15px;
}

.dieSec__List__Item_Heading {
    position: relative;
}

.dieSec__List__Item_Heading::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0px;
    width: 32px;
    height: 2px;
    background: linear-gradient(270deg, #FFFFFF 0%, rgba(240, 240, 240, 0.4) 100%);
}

.dieSec__List__Item_Heading>* {
    font-size: 18px;
    line-height: 21.94px;
    color: var(--bg-color);
    margin-bottom: 0;
}

.dieSec__List__Item_Heading>*>span {
    font-family: "M-EB";
}

.partnersSec__List {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.partnersSec__List>* {
    width: calc(100% / 6);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
}

/* about us end */

/* contact us start */

.secForm__ input {
    border: 1px solid #EAEAEA !important;
    background-color: #F8F8F8 !important;
    border-radius: 10px;
    font-size: var(--size);
    padding: 16px 18px;
    line-height: 18.29px;
    color: var(--black-color) !important;
    margin-bottom: 0;
    box-shadow: none !important;
    outline: none !important;
    height: unset;
    max-height: 50px;
    min-height: 50px;
    font-family: "M-R" !important;
}

.secForm__ .form-group {
    margin-bottom: 25px;
}

.secForm__ textarea {
    font-family: "M-R" !important;
    border: 1px solid #EAEAEA !important;
    background-color: #F8F8F8 !important;
    border-radius: 10px;
    font-size: var(--size);
    padding: 16px 18px;
    color: var(--black-color) !important;
    margin-bottom: 0;
    box-shadow: none !important;
    outline: none !important;
    height: unset;
    resize: none;
}

.secForm__ input::placeholder,
.secForm__ textarea::placeholder {
    font-family: "M-R" !important;
    font-size: var(--size);
    color: #C2C2C2 !important;
}

.gemeinsam_sec__ColorText_Item {
    text-decoration: none;
    display: block;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 20px;
}

.gemeinsam_sec__ColorText_Item_Icon {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.contact_Gemeinsam_sec__Para {
    margin-top: 45px;
}

.contact_Gemeinsam_sec__Para>* {
    font-size: 16px;
    line-height: 19.5px;
    font-family: "M-M";
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 30px;
}

.contact_Gemeinsam_sec__Para>*>span {
    font-family: "M-EB";
    display: block;
    width: 100%;
}

.gemeinsam_sec__ColorText_Item_Icon>* * {
    fill: #0080ff;
}

.gemeinsam_sec__ColorText_Item_Content>a {
    color: #0080ff;
    text-decoration: none;
    font-size: 16px;
    line-height: 19.5px;
    font-family: "M-M";
    margin-bottom: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.gemeinsam_sec__ColorText_Item:hover {
    color: #0080ff;
}

.map>* {
    width: 100%;
    height: 420px;
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow: 0px 3px 6px 0px #00000029;
}

/* contact us end */

/* festgeld start */

.fest_freeQuoteSec__Img__>* {
    width: 90%;
    border-radius: 10px;
}

.faqItem__ {
    border: 1px solid #c7c7c7ee;
    border-radius: 10px;
    margin: 15px 0;
    user-select: none;
}

.faqItem__Header_Heading>* {
    margin-bottom: 0;
    font-size: 17px;
    font-family: "M-M";
    line-height: 30px;
    color: var(--black-color);
}

.faqItem__Body_ {
    border-top: 1px solid #c7c7c7ee;
    padding: 15px;
}

.faqItem__Body_Para>* {
    font-size: var(--size);
    line-height: 1.3;
    color: var(--black-color);
    margin-bottom: 0;
}

.faqItem__Header_ {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.faqItem__Header_::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 35px;
    height: 25px;
    border-radius: 9px 0px 100% 0;
    background-color: #0080ff;
    color: var(--bg-color);
    z-index: -1;
    transition: 0.4s all ease-out;
    font-size: var(--size);
    line-height: 1;
    padding-top: 5px;
    padding-left: 5px;
}

.faqItem__Header_Arrow {
    transition: 0.4s all;
    transform: rotate(-90deg);
}

.faqItem__Header_Arrow>* {
    fill: var(--black-color);
}

.faqItem__Header_Arrow.arrowActive {
    transition: 0.4s all;
    transform: rotate(0deg);
}

.faqItem__Header_:has(.arrowActive)::before {
    width: 100%;
    height: 100%;
    border-radius: 9px 9px 0 0;
    transition: 0.4s all ease-out;
}

.col-md-12:nth-child(1)>.faqItem__>.faqItem__Header_::before {
    content: "01";
}

.col-md-12:nth-child(2)>.faqItem__>.faqItem__Header_::before {
    content: "02";
}

.col-md-12:nth-child(3)>.faqItem__>.faqItem__Header_::before {
    content: "03";
}

.col-lg-6:nth-child(2)>.faqItem__>.faqItem__Header_::before {
    content: "01";
}

.col-lg-6:nth-child(3)>.faqItem__>.faqItem__Header_::before {
    content: "02";
}

.col-lg-6:nth-child(4)>.faqItem__>.faqItem__Header_::before {
    content: "03";
}

.col-lg-6:nth-child(5)>.faqItem__>.faqItem__Header_::before {
    content: "04";
}

.col-lg-6:nth-child(6)>.faqItem__>.faqItem__Header_::before {
    content: "05";
}

.col-lg-6:nth-child(7)>.faqItem__>.faqItem__Header_::before {
    content: "06";
}

.iposCards__Content__Para {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
}

.iposCards__Img {
    height: 230px;
}

.fest_freeQuoteSec__Content__List {
    margin-top: 40px;
}

.fest_freeQuoteSec__Content__List>ul>li {
    color: var(--bg-color);
}

.fest_bgColor__,
.kundig_bgColor__,
.fonds_bgColor__ {
    padding: 170px 0;
}

.fest_bgColor__::after {
    background-image: url(../images/fest_section_two.jpg);
}
.fest_bgColor2__::after {
    background-image: url(../images/FestGeld_Business.jpg);
}

/* festgeld end */

/* kundig start */

.kundig_bgColor__::after {
    background-image: url(../images/kundigungsgeld_section_two.jpg);
    background-position: left center;
}

/* kundig end */

/* kundig start */

.fonds_bgColor__::after {
    background-image: url(../images/fonds_section_two.jpg);
    background-position: left 30% center;
}

/* kundig end */

/* einlagensicherung start */

.einlagensicherung_bgColor__::after {
    background-image: url(../images/een_section_bg.jpg);
    background-position: center 65%;
}

/* einlagensicherung end */

/* aktien start */

.aktien_bgColor__::after {
    background-image: url(../images/aktien_section.jpg);
    background-position: left 50% center;
}

.aktien_cardSectionList__Item__ {
    width: calc(100% / 3 - 10px);
}

/* aktien end */

/* footer start */

.footer_copyRight_text {
    padding: 30px 0;
}

.footer_copyRight_text>* {
    font-size: var(--size);
    line-height: 18.29px;
    color: var(--bg-color);
    text-align: center;
    margin-bottom: 0;
}

.footer_copyRight_text>*>* {
    text-decoration: none;
    color: var(--bg-color);
}

.footer_copyRight_text>*>*:hover {
    color: #0080ff;
}

/* footer end */

/* sideBar start */

.sideBar__ {
    position: fixed;
    top: 0px;
    left: -100%;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    max-height: 100%;
    background-color: var(--bg-color);
    z-index: -1000;
    visibility: hidden;
    opacity: 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    transition: 0.4s all;
}

.sideBar__.sideBar__Active {
    transition: 0.4s all;
    left: 0;
    opacity: 1;
    visibility: visible;
    z-index: 1000;
}

.sideBar__Header__ {
    width: 50.1%;
    height: calc(100% - 70% - 2.5%);
    padding: 50px 25px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.sideBar__Header__Close>* {
    width: 35px;
    height: 35px;
}

.sideBar__Body__ {
    width: 50.1%;
    height: calc(100% - 30% - 2.5%);
    padding: 0px 25px;
}

.sideBar__Body__>ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.sideBar__Body__>ul>li {
    border-radius: 10px;
    transition: 0.4s all;
    margin: 8px 15px;
}

.sideBar__Body__>ul>li:hover {
    transition: 0.4s all;
    background-color: #FFFFFF;
}

.sideBar__Body__>ul>li a {
    color: var(--black-color);
    font-size: var(--size);
    line-height: 18.29px;
    display: block;
    padding: 8px 15px;
}

.sideBar__Body__>ul ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.sideBar__Body__>ul>li.sideBar_drop {
    padding: 0;
}

.sideBar_drop>a {
    display: flex !important;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
}

.sideBar_down {
    padding: 4px 30px;
    display: none;
}

.sideBar_down li>a {
    color: var(--black-color);
    font-size: var(--size);
    line-height: 18.29px;
}

.sideBar_drop>a>span:nth-last-child(1)>* {
    transform: rotate(-90deg);
    transition: 0.4s all;
}

.sideBar_drop>a>span.arrowActiveSide>* {
    transition: 0.4s all;
    transform: rotate(0deg);
}

.menuIcon {
    margin-left: auto;
}

.menuIcon>* {
    width: 35px;
    height: 35px;
}

.sideBar__Login {
    padding: 20px 15px;
    margin-top: 20px;
    border-top: 1px solid #DADADA;
}

.sideBar__Login .button {
    width: 100%;
    text-align: center;
    display: block;
}

/* sideBar end */

.dieSec__img>* {
    border-radius: 10px;
}

.secImg__>* {
    width: 100%;
}

/* other pages start */

.impressum_content {
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 60px 50px;
}

.impressum_content h1 {
    margin-bottom: 40px;
    font-family: "M-BO";
    font-size: 45px;
    line-height: 54.86px;
    color: #0E1137;
}

.partnersSec__Item>* {
    mix-blend-mode: darken;
}

/* other pages end */
		
/* other changes start */

.range_slider_main>.range_slider>.range_slider_item>#input_range[type="text"] {
	width: calc(100% - 17px);
}

/* other changes end*/